path {
    fill: #f2f2f2;
    fill-rule: evenodd;
}
path:hover {
    stroke-width: 3px; 
}

.noData {
    fill: #f2f2f2;
}
.background1 {
    fill: #8b0000;
}
.background2 {
    fill: #cf3b59;
}
.background3 {
    fill: #f78599;
}
.background4 {
    fill: #ffd8cd;
}
.background5 {
    fill: #81dd8e;
}
.background6 {
    fill: #63be8a;
}
.background7 {
    fill: #3f9e86;
}
.background8 {
    fill: #008080;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 500px 500px;
    grid-template-areas: 
        "header header"
        "map map"
        "selectors legend"
        "apiIO apiIO";
}
.header {
    grid-area: header;
    border: 1px solid red;
}
.map {
    grid-area: map;
}
.selectors {
    /* border: 1px solid blue; */
    grid-area: selectors;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 1fr;
    grid-template-areas:
        "slider slider"
        "selector-years selector-indicators";
}
.slider {
    display: block;
    padding: 20px;
    grid-area: slider;
}
.slider-value {
    position: relative;
    top: -300px;
}
.apiIO {
    grid-area: apiIO;
}
.legend {
    grid-area: legend;
    border: 1px solid green;
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    
}
.legendText {
    font-family: verdana;
}

.legend1 {
    background-color: #8b0000;
}
.legend2 {
    background-color: #cf3b59;
}
.legend3 {
    background-color: #f78599;
}
.legend4 {
    background-color: #ffd8cd;
}
.legend5 {
    background-color: #81dd8e;
}
.legend6 {
    background-color: #63be8a;
}
.legend7 {
    background-color: #3f9e86;
}
.legend8 {
    background-color: #008080;
}


input[type=radio] {
	height: 20px;
	width: 30px;
}